.animate {
  animation: move 0.6s ease-out infinite;
}

@keyframes move {
  0% {
    transform: translateX(-10);
  }
  15% {
    transform: translateX(10);
  }
  30% {
    transform: translateX(-10);
  }
  45% {
    transform: translateX(10);
  }
  60% {
    transform: translateX(-10);
  }
  75% {
    transform: translateX(10);
  }
  100% {
    transform: translateX(-10);
  }
}